* {
  margin: 0;
  padding: 0; }

ul li {
  list-style: none; }

html, body {
  width: 100%;
  height: 100%;
  font-size: 22px;
  font-family: "Microsoft Yahei",sans-serify; }

body .music-logo {
  width: 1rem;
  height: 1rem;
  background: url(../img/music.gif);
  background-size: 100% 100%;
  position: absolute;
  top: 0.66667rem;
  right: 0.66667rem;
  z-index: 999; }

.swiper-slide{
	width:100%;
	height:100%;
}
#theMedia {
  width: 100%;
  height: 100%; }
  #theMedia .swiper-wrapper .page1 {
    background: url("../images/bg-0-1.jpg");
    background-size: 100% 100%; }
    #theMedia .swiper-wrapper .page1 .logo {
      position: relative;
      top: 3.33333rem;
      width: 12rem;
      height: 4rem;
      margin: 0 auto; }
      #theMedia .swiper-wrapper .page1 .logo img {
        width: 100%;
        height: 100%; }
    #theMedia .swiper-wrapper .page1 .txt1 {
      position: relative;
      top: 6.66667rem;
      width: 12.6rem;
      height: 2.5rem;
      margin: 0 auto; }
      #theMedia .swiper-wrapper .page1 .txt1 img {
        width: 100%;
        height: 100%; }
    #theMedia .swiper-wrapper .page1 .txt2 {
      position: relative;
      top: 8rem;
      width: 15.33333rem;
      height: 4.23333rem;
      margin: 0 auto; }
      #theMedia .swiper-wrapper .page1 .txt2 img {
        width: 100%;
        height: 100%; }
    #theMedia .swiper-wrapper .page1 .info {
      position: relative;
      top: 12rem;
      width: 9.36667rem;
      height: 1.23333rem;
      margin: 0 auto; }
      #theMedia .swiper-wrapper .page1 .info img {
        width: 100%;
        height: 100%; }
  #theMedia .swiper-wrapper .page2 {
    background: url("../images/bg-0-1.jpg");
    background-size: 100% 100%; }
    #theMedia .swiper-wrapper .page2 .logo {
      position: relative;
      top: 3.33333rem;
      width: 12rem;
      height: 4rem;
      margin: 0 auto; }
      #theMedia .swiper-wrapper .page2 .logo img {
        width: 100%;
        height: 100%; }
    #theMedia .swiper-wrapper .page2 .txt1 {
      position: relative;
      top: 5.33333rem;
      width: 12.6rem;
      height: 2.5rem;
      margin: 0 auto; }
      #theMedia .swiper-wrapper .page2 .txt1 img {
        width: 100%;
        height: 100%; }
    #theMedia .swiper-wrapper .page2 .txt2 {
      position: relative;
      top: 6.66667rem;
      width: 5.7rem;
      height: 1.7rem;
      margin: 0 auto; }
      #theMedia .swiper-wrapper .page2 .txt2 img {
        width: 100%;
        height: 100%; }
    #theMedia .swiper-wrapper .page2 #page2-ball {
      display: none;
      position: relative;
      top: 12rem;
      width: 6rem;
      height: 6rem;
      margin: 0 auto;
      perspective: 16.66667rem; }
      #theMedia .swiper-wrapper .page2 #page2-ball .space {
        width: 100%;
        height: 100%;
        transform-style: preserve-3d;
        transform-origin: center center;
        transform: rotateX(-10deg) translate(50% 50%);
        animation-name: spaceT;
        animation-duration: 5s;
        animation-delay: 0s;
        animation-direction: normal;
        animation-timing-function: linear;
        animation-iteration-count: infinite; }
        #theMedia .swiper-wrapper .page2 #page2-ball .space .box {
          position: absolute;
          left: 0;
          top: 0;
          width: 1.66667rem;
          height: 1.66667rem; }
          #theMedia .swiper-wrapper .page2 #page2-ball .space .box img {
            width: 100%;
            height: 100%; }
        #theMedia .swiper-wrapper .page2 #page2-ball .space li:nth-of-type(1) {
          transform: rotateY(0deg) translateZ(6rem); }
        #theMedia .swiper-wrapper .page2 #page2-ball .space li:nth-of-type(2) {
          transform: rotateY(40deg) translateZ(6rem); }
        #theMedia .swiper-wrapper .page2 #page2-ball .space li:nth-of-type(3) {
          transform: rotateY(80deg) translateZ(6rem); }
        #theMedia .swiper-wrapper .page2 #page2-ball .space li:nth-of-type(4) {
          transform: rotateY(120deg) translateZ(6rem); }
        #theMedia .swiper-wrapper .page2 #page2-ball .space li:nth-of-type(5) {
          transform: rotateY(160deg) translateZ(6rem); }
        #theMedia .swiper-wrapper .page2 #page2-ball .space li:nth-of-type(6) {
          transform: rotateY(200deg) translateZ(6rem); }
        #theMedia .swiper-wrapper .page2 #page2-ball .space li:nth-of-type(7) {
          transform: rotateY(240deg) translateZ(6rem); }
        #theMedia .swiper-wrapper .page2 #page2-ball .space li:nth-of-type(8) {
          transform: rotateY(280deg) translateZ(6rem); }
        #theMedia .swiper-wrapper .page2 #page2-ball .space li:nth-of-type(9) {
          transform: rotateY(320deg) translateZ(6rem); }
  #theMedia .swiper-wrapper .page3 {
    position: relative;
    background: url("../images/bg-2-35.jpg");
    background-size: 100% 100%; }
    #theMedia .swiper-wrapper .page3 .logo {
      position: relative;
      top: 3.33333rem;
      width: 12rem;
      height: 4rem;
      margin: 0 auto; }
      #theMedia .swiper-wrapper .page3 .logo img {
        width: 100%;
        height: 100%; }
    #theMedia .swiper-wrapper .page3 .txt1 {
      position: relative;
      top: 5.33333rem;
      width: 12.6rem;
      height: 2.5rem;
      margin: 0 auto; }
      #theMedia .swiper-wrapper .page3 .txt1 img {
        width: 100%;
        height: 100%; }
    #theMedia .swiper-wrapper .page3 .txt2 {
      position: relative;
      top: 6.66667rem;
      width: 5.7rem;
      height: 1.7rem;
      margin: 0 auto;
      z-index: 1; }
      #theMedia .swiper-wrapper .page3 .txt2 img {
        width: 100%;
        height: 100%; }
    #theMedia .swiper-wrapper .page3 .bg2 {
      position: relative;
      top: 2.66667rem;
      width: 15.33333rem;
      height: 15.33333rem;
      margin: 0 auto; }
      #theMedia .swiper-wrapper .page3 .bg2 img {
        width: 100%;
        height: 100%;
        transform-origin: center center;
        transform: rotateZ(360deg);
        animation-name: bgT;
        animation-delay: 0s;
        animation-duration: 10s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: normal; }
@keyframes bgT {
  0% {
    transform: rotateZ(0deg); }
  100% {
    transform: rotateZ(360deg); } }
  #theMedia .swiper-wrapper .page4 {
    background: url("../images/bg-2-35.jpg");
    background-size: 100% 100%; }
    #theMedia .swiper-wrapper .page4 .logo {
      position: relative;
      top: 3.33333rem;
      width: 12rem;
      height: 4rem;
      margin: 0 auto; }
      #theMedia .swiper-wrapper .page4 .logo img {
        width: 100%;
        height: 100%; }
    #theMedia .swiper-wrapper .page4 .txt1 {
      position: relative;
      top: 4.33333rem;
      width: 12.6rem;
      height: 2.5rem;
      margin: 0 auto; }
      #theMedia .swiper-wrapper .page4 .txt1 img {
        width: 100%;
        height: 100%; }
    #theMedia .swiper-wrapper .page4 .txt2 {
      position: relative;
      top: 4.66667rem;
      width: 5.7rem;
      height: 1.7rem;
      margin: 0 auto; }
      #theMedia .swiper-wrapper .page4 .txt2 img {
        width: 100%;
        height: 100%; }
    #theMedia .swiper-wrapper .page4 .last {
      position: relative;
      top: 6rem;
      width: 14.33333rem;
      height: auto;
      margin: 0 auto; }
      #theMedia .swiper-wrapper .page4 .last img {
        width: 100%;
        margin-bottom: 0.33333rem; }
  #theMedia .swiper-wrapper .page5 {
    background: url("../images/bg-3.jpg");
    background-size: 100% 100%; }
    #theMedia .swiper-wrapper .page5 .logo {
      position: relative;
      top: 3.33333rem;
      width: 12rem;
      height: 4rem;
      margin: 0 auto; }
      #theMedia .swiper-wrapper .page5 .logo img {
        width: 100%;
        height: 100%; }
    #theMedia .swiper-wrapper .page5 .txt1 {
      position: relative;
      top: 5.33333rem;
      width: 12.6rem;
      height: 2.5rem;
      margin: 0 auto; }
      #theMedia .swiper-wrapper .page5 .txt1 img {
        width: 100%;
        height: 100%; }
    #theMedia .swiper-wrapper .page5 .txt2 {
      position: relative;
      top: 6.66667rem;
      width: 5.7rem;
      height: 1.7rem;
      margin: 0 auto; }
      #theMedia .swiper-wrapper .page5 .txt2 img {
        width: 100%;
        height: 100%; }
  #theMedia .swiper-wrapper .page6 {
    background: url("../images/bg-4-5.jpg");
    background-size: 100% 100%; }
    #theMedia .swiper-wrapper .page6 .logo {
      position: relative;
      top: 3.33333rem;
      width: 12rem;
      height: 4rem;
      margin: 0 auto; }
      #theMedia .swiper-wrapper .page6 .logo img {
        width: 100%;
        height: 100%; }
    #theMedia .swiper-wrapper .page6 .txt1 {
      position: relative;
      top: 4.66667rem;
      width: 12.6rem;
      height: 2.5rem;
      margin: 0 auto; }
      #theMedia .swiper-wrapper .page6 .txt1 img {
        width: 100%;
        height: 100%; }
    #theMedia .swiper-wrapper .page6 .txt2 {
      position: relative;
      top: 5rem;
      width: 5.7rem;
      height: 1.7rem;
      margin: 0 auto; }
      #theMedia .swiper-wrapper .page6 .txt2 img {
        width: 100%;
        height: 100%; }
    #theMedia .swiper-wrapper .page6 .hands {
      position: relative;
      top: 6rem;
      width: 100%;
      height: 8.63333rem; }
      #theMedia .swiper-wrapper .page6 .hands img {
        width: 100%;
        height: 100%; }
    #theMedia .swiper-wrapper .page6 .hands-info {
      position: relative;
      top: 6.33333rem;
      width: 7.03333rem;
      height: 1.53333rem;
      margin: 0 auto; }
      #theMedia .swiper-wrapper .page6 .hands-info img {
        width: 100%;
        height: 100%; }
    #theMedia .swiper-wrapper .page6 .hands-list {
      position: relative;
      top: 6.66667rem;
      width: 90%;
      height: 8.66667rem;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap; }
      #theMedia .swiper-wrapper .page6 .hands-list li {
        width: 4rem;
        height: 2rem; }
        #theMedia .swiper-wrapper .page6 .hands-list li img {
          width: 100%;
          height: 100%; }
  #theMedia .swiper-wrapper .page7 {
    background: url("../images/bg-4-5.jpg");
    background-size: 100% 100%; }
    #theMedia .swiper-wrapper .page7 .logo {
      position: relative;
      top: 3.33333rem;
      width: 12rem;
      height: 4rem;
      margin: 0 auto; }
      #theMedia .swiper-wrapper .page7 .logo img {
        width: 100%;
        height: 100%; }
    #theMedia .swiper-wrapper .page7 .txt1 {
      position: relative;
      top: 4.66667rem;
      width: 12.6rem;
      height: 2.5rem;
      margin: 0 auto; }
      #theMedia .swiper-wrapper .page7 .txt1 img {
        width: 100%;
        height: 100%; }
    #theMedia .swiper-wrapper .page7 .txt2 {
      position: relative;
      top: 5rem;
      width: 17.03333rem;
      height: 12.8rem;
      margin: 0 auto; }
      #theMedia .swiper-wrapper .page7 .txt2 img {
        width: 100%;
        height: 100%; }
    #theMedia .swiper-wrapper .page7 .hands {
      position: relative;
      top: 6rem;
      width: 16.93333rem;
      height: 0.8rem;
      margin: 0 auto; }
      #theMedia .swiper-wrapper .page7 .hands img {
        width: 100%;
        height: 100%; }
    #theMedia .swiper-wrapper .page7 .hands-info {
      position: relative;
      top: 7.33333rem;
      width: 8.46667rem;
      height: 2.46667rem;
      margin: 0 auto; }
      #theMedia .swiper-wrapper .page7 .hands-info img {
        width: 100%;
        height: 100%; }
  #theMedia .swiper-wrapper .page8 {
    background: url("../images/bg-4-5.jpg");
    background-size: 100% 100%; }
    #theMedia .swiper-wrapper .page8 .logo {
      position: relative;
      top: 3.33333rem;
      width: 8.23333rem;
      height: 4.13333rem;
      margin: 0 auto; }
      #theMedia .swiper-wrapper .page8 .logo img {
        width: 100%;
        height: 100%; }
    #theMedia .swiper-wrapper .page8 .txt1 {
      position: relative;
      top: 4.66667rem;
      width: 15.73333rem;
      height: 1.46667rem;
      margin: 0 auto; }
      #theMedia .swiper-wrapper .page8 .txt1 img {
        width: 100%;
        height: 100%; }
    #theMedia .swiper-wrapper .page8 .txt2 {
      position: relative;
      top: 5rem;
      width: 10rem;
      height: 10rem;
      margin: 0 auto; }
@keyframes bgL {
  0% {
    transform: rotateZ(0deg); }
  100% {
    transform: rotateZ(360deg); } }
      #theMedia .swiper-wrapper .page8 .txt2 img {
        width: 100%;
        height: 100%;
        transform-origin: center center;
        animation-name: bgL;
        animation-duration: 5s;
        animation-timing-function: linear;
        animation-delay: 0s;
        animation-iteration-count: infinite;
        animation-direction: normal; }
    #theMedia .swiper-wrapper .page8 .hands {
      position: relative;
      top: 6rem;
      width: 8.46667rem;
      height: 2.46667rem;
      margin: 0 auto; }
      #theMedia .swiper-wrapper .page8 .hands img {
        width: 100%;
        height: 100%; }
