/*头部修改*/
.index-mallnav .nav-cate .catelog-list{
	display: none;
}
.mallnav {
	background: #D71E00;
}
.mallnav .index-mallnav ul li a{
	color: white;
}
/*商品位置信息显示*/
.goods-crumbs{
	height: 33px;
	line-height: 33px;
	font-family: "宋体";
	color: #999;
}
.goods-crumbs a{
	color: #999;
}
/*商品详情部分*/
.goodsIndex-wrapper-wl{
	width: 994px;
	float: left;
	margin-bottom: 40px;
}
.goodsIndex-wrapper #goods-wl{
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
/*商品详情右边供应商信息*/
.goodsIndex-wrapper-fr{
	width: 223px;
	float: right;
	height: auto;
	color: #666;
	border: 1px solid #E5E5E5;
}
.goodsIndex-wrapper-fr .fr-title{
	padding-left: 20px;
	height: 28px;
	line-height: 28px;
	background: #ddd;
	font-size: 14px;
	font-weight: 600;
	font-family: "微软雅黑";
	color: #4D4949;
	margin-bottom: 20px;
}
.goodsIndex-wrapper-fr .fr-content{
	padding-left: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #E5E5E5;
}
.goodsIndex-wrapper-fr .fr-content p{
	margin-bottom: 10px;
}
.goodsIndex-wrapper-fr .fr-content p.fr-c-a a{
	color: #0066cc;
}
.goodsIndex-wrapper-fr .fr-content p.fr-c-c{
	height: 22px;
}
.goodsIndex-wrapper-fr .fr-content p.fr-c-c a.fr-putaway{
	padding:10px 0 10px 25px;
	background: url(../img/xiangqing/pro_bgh.png) no-repeat left center;
}
.goodsIndex-wrapper-fr .fr-content p.fr-c-c a.fr-load{
	padding:10px 0 10px 25px;
	background: url(../img/xiangqing/pro_bgi.png) no-repeat left center;
}
.goodsIndex-wrapper-fr .fr-content .fc-c-btn{
	padding-right: 20px;
}
.goodsIndex-wrapper-fr .fr-content .fc-c-btn a{
	display: block;
	height: 30px;
	line-height: 30px;
	background: #C81623;
	color: #fff;
	text-align: center;
}

.goodsIndex-wrapper-fr .pro-search .ps-title{
	height: 20px;
	padding: 20px 16px 10px;
}
.goodsIndex-wrapper-fr .pro-search .ps-title span{
	float: left;
	font-size: 12px;
	font-weight: bold;
}
.goodsIndex-wrapper-fr .pro-search .ps-title>a{
	float: right
}
.goodsIndex-wrapper-fr .pro-search .ps-content{
	padding:0 0 20px 16px;
}
.goodsIndex-wrapper-fr .pro-search .ps-content ul{
	width: 100%;
	height: 100%;
}
.goodsIndex-wrapper-fr .pro-search .ps-content ul li{
	width: 91px;
	height: 120px;
	float: left;
	margin-right: 10px;
	margin-bottom: 30px;
	text-align: center;
}
.goodsIndex-wrapper-fr .pro-search .ps-content ul li a{
	width: 91px;
	height: 91px;
}
.goodsIndex-wrapper-fr .pro-search .ps-content ul li a img{
	width: 100%;
	height: 100%;
}
.goodsIndex-wrapper-fr .pro-search .ps-content ul li span{
	padding-top: 15px;
	color: #C81623;
	font-size: 14px;
	font-family: "微软雅黑";
	font-weight: bold;
}
.goodsIndex-wrapper-fr .pro-search .ps-content ul li span i{
	font-weight: bolder;
}
.goodsIndex-wrapper-wl .title{
	font-size: 16px;
	color: #333;
}
.goodsIndex-wrapper-wl .pc-fwtp{
	float: right;
	color: #484848;
}
.goodsIndex-wrapper-wl .pc-fwtp .toy1{
	margin-right: 20px;
	color: #000;
	padding-left: 23px;
	background: url(../img/pfdximg.jpg) no-repeat left center;
}
.goodsIndex-wrapper-wl .pc-fwtp .toy2{
	color: #000;
	padding-left: 23px;
	background: url(../img/pfdximgc.jpg) no-repeat left center;
}
.goodsIndex-wrapper-wl .goodsIndex-fl{
	position: relative;
	width: 422px;
	padding: 10px;
	height: auto;
	float: left;
}
.goodsIndex-fl .smallBox{
	position: relative;
	width: 422px;
	height: 422px;
}
.goodsIndex-fl .smallBox img{
	width: 100%;
	height: 100%;
}
.goodsIndex-fl .smallBox span.mask{
	position: absolute;
	left: 0;
	top: 0;
	width: 211px;
	height: 211px;
	background: url(../img/xiangqing/mask.png) repeat;
	cursor: move;
	display: none;
}
.goodsIndex-fl .largerBox{
	position: absolute;
	top: 10px;
	left: 442px;
	width: 422px;
	height: 422px;
	overflow: hidden;
	display: none;
}
.goodsIndex-fl .largerBox img{
	position: absolute;
	left: 0;
	top: 0;
	width: 844px;
	height: 844px;
	z-index: 1;
}
.goodsIndex-fl .smallBoxList{
	height: 60px;
	margin: 10px auto 30px;
}
.goodsIndex-fl .smallBoxList li{
	float: left;
	width: 59px;
	height: 59px;
	margin-left: 19px;
}
.goodsIndex-fl .smallBoxList li.active{
	border: 1px solid #FF0000;
}
.goodsIndex-wrapper-wl .goodsIndex-fmid{
	width: 546px;
	padding-left: 6px;
	height: auto;
	float: left;
}

.goodsIndex-fl .favorite{
	height: 30px;
	line-height: 30px;
	padding-left: 10px;
}
.goodsIndex-fl .favorite-shop{
	float: left;
	padding-left: 20px;
	background: url(../img/xiangqing/xqy_08.jpg) no-repeat left center;
}
.goodsIndex-fl .favorite-share{
	float: right;
}
.goodsIndex-fl .favorite-share a{
	height: 24px;
	width: 24px;
	margin: 0 5px;
}
.goodsIndex-wrapper-wl .goodsIndex-fmid .fmid-title{
	position: relative;
	height: 94px;
	padding-left:100px;
	background: #f32100;
}
.goodsIndex-wrapper-wl .goodsIndex-fmid .fmid-title .look-fee{
	position: absolute;
	left: 0;
	top: 0;
	width: 72px;
	height: 94px;
	line-height: 94px;
	text-align: center;
	color: #fff;
	font-size: 16px;
	background: #AA1800;
}
.goodsIndex-wrapper-wl .goodsIndex-fmid .fmid-title .fmid-accout{
	width: 130px;
	height: 74px;
	padding-top: 20px;
}
.goodsIndex-fmid .fmid-title .fmid-accout span.value-top{
	display: block;
	margin-bottom: 10px;
	color: #fff;
	font-size: 14px;
	font-family: "微软雅黑";
}
.goodsIndex-fmid .fmid-title .fmid-accout a.no-login{
	color: #fff;
	font-size: 16px;
}
.goodsIndex-fmid .fmid-title .user-edit{
	position: absolute;
	top: 0;
	right: 0;
	width: 40px;
	height: 20px;
	line-height: 20px;
	color: #fff;
	text-align: right;
}
.goodsIndex-fmid .fmid-fc{
	padding:11px 0 14px 44px;
	border-left: 1px solid #eee;
	color: #666;
}
.goodsIndex-fmid .fmid-fc p.fc-pb{
	padding-bottom:15px;
	color: #333;
}
.goodsIndex-fmid .fmid-fc p.fc-pb b em{
	color: #ff7300;
	font-weight: bolder;
	font-size: 15px;
}
.goodsIndex-fmid .fmid-fc p.fc-pb b{
	color:#666666;
}
.goodsIndex-fmid .fmid-fc p.fc-pb span.ljbm{
	float: right;
	width: 118px;
	height: 28px;
	padding-right: 20px;
}
.goodsIndex-fmid .fmid-fc p.fc-pb span.ljbm a{
	display: block;
	background: #ff7f14;
	height: 28px;
	line-height: 28px;
	color: #fff;
	text-align: center;
}
.goodsIndex-fmid .fmid-fd{
	height: 87px;
	padding-left: 44px;
	border-left: 1px solid #eee;
}
.goodsIndex-fmid .fmid-fd p{
	-width: 490px;
	margin: 0 auto;
	padding-top: 23px;
	padding-bottom: 60px;
	border-top: 1px dotted #666666;
	border-bottom: 1px dotted #666666;
}
.goodsIndex-fmid .fmid-fd p span{
	position: relative;
}
.goodsIndex-fmid .fmid-fd p span a.item{
	float: left;
	margin: 5px;
	line-height: 28px;
	text-align: left;
	color: #fff;
	width: 100px;
	height: 28px;
}
.goodsIndex-fmid .fmid-fd p span b{
	position: absolute;
	left: -100px;
	top: 30px;
	width: 488px;
	height: 80px;
	background: url(../img/xiangqing/sjtb.png) no-repeat center center;
	display: none;
}
.goodsIndex-fmid .fmid-fd p span.fd-ba01 a.item{
	background: url(../img/xiangqing/upprotipw_15.jpg) no-repeat center center;
}
.goodsIndex-fmid .fmid-fd p span.fd-ba02 a.item{
	background: url(../img/xiangqing/upprotipw_11.jpg) no-repeat center center;
}
.goodsIndex-fmid .fmid-fd p span.fd-ba03 a.item{
	background: url(../img/xiangqing/upprotipw_13.jpg) no-repeat center center;
}
.goodsIndex-fmid .fmid-fd p span.fd-ba04 a.item{
	background: url(../img/xiangqing/upprotipw_15.jpg) no-repeat center center;
}
.goodsIndex-fmid .fmid-fd p span.fd-ba03{
	position: relative;
}
.goodsIndex-fmid .fmid-fd p span.fd-ba03 a.learn{
	position: absolute;
	left: -60px;
	top: 40px;
	width: 50px;
	height: 20px;
	color: blue;
	text-decoration: underline;
}
.goodsIndex-fmid .fmid-fe{
	padding-left: 44px;
	height: 243px;
	padding-bottom: 10px;
	border-left: 1px solid #E7E7E7;
	border-bottom: 1px solid #E7E7E7;
} 
.goodsIndex-fmid .fmid-fe .fe-color{
	padding: 15px 0;
}
.goodsIndex-fmid .fmid-fe .fe-color b,
.goodsIndex-fmid .fmid-fe .fe-size b{
	padding-right: 20px;
	font-family: "微软雅黑";
}
.goodsIndex-fmid .fmid-fe .fe-color span{
	padding: 5px 8px;
	border: 1px solid #E5E5E5;
	margin-right: 10px;
	cursor: pointer;
}
.goodsIndex-fmid .fmid-fe .fe-color span.active{
	border: 2px solid #F32100;
}
.goodsIndex-fmid .fmid-fe .fe-color span:hover{
	border: 2px solid #F32100;
}
.goodsIndex-fmid .fmid-fe .fe-size b,
.goodsIndex-fmid .fmid-fe .fe-size .fe-size-content{
	display: block;
	float: left;
}
.goodsIndex-fmid .fmid-fe .fe-size .fe-size-content{
	position: relative;
	height: 182px;
	width: 391px;
	margin-left: 30px;
	overflow-y: auto;
}
.goodsIndex-fmid .fmid-fe .fe-size .fe-size-content ul{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: none;
}
.goodsIndex-fmid .fmid-fe .fe-size .fe-size-content ul.active{
	display: block;
}
.goodsIndex-fmid .fmid-fe .fe-size .fe-size-content ul li{
	border-top: 1px dotted #666666;
	padding: 10px 5px 0;
	height: 43px;
}
.goodsIndex-fmid .fmid-fe .fe-size .fe-size-content ul li .item{
	float: left;
	margin: 0 5px;
}
.goodsIndex-fmid .fmid-fe .fe-size .fe-size-content ul li .txt{
	width: 50px;
}
.goodsIndex-fmid .fmid-fe .fe-size .fe-size-content ul li .txt b{
	float: left;
	width: 100%;
	height: 100%;
}
.goodsIndex-fmid .fmid-fe .fe-size .fe-size-content ul li .item input{
	width: 32px;
	height: 23px;
	padding: 2px 0 2px 8px;
	border: 0;
	outline: none;
	float: left;
}
.goodsIndex-fmid .fmid-fe .fe-size .fe-size-content ul li .input-wrap{
	border: 1px solid #666666;
	margin-left: 20px;
	height: 30px;
}
.goodsIndex-fmid .fmid-fe .fe-size .fe-size-content ul li .input-wrap a{
	width: 30px;
	height:30px;
	text-align: center;
	line-height: 30px;
	font-size: 20px;
	font-weight: bolder;
	background: #ddd;
	float: left;
}
.goodsIndex-fmid .fmid-ff{
	border: 1px solid #E5E5E5;
}
.goodsIndex-fmid .fmid-ff p{
	height: 38px;
	line-height: 38px;
	padding-left: 20px;
	color: #D71E00;
}
.goodsIndex-fmid .fmid-ff p i{
	font-family: "微软雅黑";
	font-size: 16px;
	font-weight: bold;
}
.goodsIndex-fmid .fmid-ff p b{
	font-family: "微软雅黑";
	font-size: 20px;
	font-weight: bold;
}
.goodsIndex-fmid .fmid-ff .ff-place{
	padding: 5px 0 5px 140px;
}
.goodsIndex-fmid .fmid-ff .ff-place a{
	float: left;
	width: 180px;
	height: 49px;
	background: #AA1800;
	color: #fff;
	line-height: 49px;
	text-align: center;
	font-size: 16px;
	border-radius: 2px;
	font-family: "微软雅黑";
	font-weight: bold;
	margin-left: 10px;
}
/*新品上架和热销产品*/
/*新品上架*/
.goods-info .goods-info-left{
	width: 222px;
	margin-right: 14px;
	float: left;
}
.goods-info .goods-info-left .goods-info-left-a{
	margin-bottom: 10px;
	border: 1px solid #E5E5E5;
}
.goods-info-left .goods-info-left-a .gi-a-title{
	height: 30px;
	line-height: 30px;
	background-color: #CC3333;
	padding-left: 20px;
	color: #fff;
	font-family: "微软雅黑";
}
.goods-info-left .goods-info-left-a .gi-a-content{
	padding: 20px 20px;
}
.goods-info-left .goods-info-left-a .gi-a-content dl{
	border-bottom: 1px dotted #E5E5E5;
	padding:10px 0 20px;
}
.goods-info-left .goods-info-left-a .gi-a-content dl dt{
	width: 59px;
	height: 59px;
	margin-right: 10px;
	float: left;
}
.goods-info-left .goods-info-left-a .gi-a-content dl dt img{
	width: 100%;
	height: 100%;
}
.goods-info-left .goods-info-left-a .gi-a-content dl dd{
	width: 108px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	float: left;
}
.goods-info .goods-info-left .goods-info-left-b{
	border: 1px solid #E5E5E5;
}
.goods-info-left .goods-info-left-b .gi-b-title{
	height: 30px;
	line-height: 30px;
	padding-left: 20px;
	font-family: "微软雅黑";
	border-bottom: 1px solid #E5E5E5;
}
.goods-info-left .goods-info-left-b .gi-b-content{
	padding: 20px 20px;
}
.goods-info-left .goods-info-left-b .gi-b-content dl{
	border-bottom: 1px dotted #E5E5E5;
	padding:10px 0 10px;
}
.goods-info-left .goods-info-left-b .gi-b-content dl dt{
	width: 100%;
	height: 100%;
}
.goods-info-left .goods-info-left-b .gi-b-content dl dt img{
	width: 100%;
	height: 100%;
}
.goods-info-left .goods-info-left-b .gi-b-content dl dd{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
/*热销新品*/
.goods-info .goods-info-right{
	width: 980px;
	float: left;
	height: auto;
	margin-bottom: 20px;
}
.goods-info-right .gir-saleHot{
	border: 1px solid #E5E5E5;
	height: auto;
	margin-bottom: 30px;
}
.goods-info-right .gir-saleHot h3{
	height: 30px;
	line-height: 30px;
	padding-left: 20px;
	font-size: 14px;
	font-family: "微软雅黑";
	border-bottom: 1px solid #E5E5E5;
}
.goods-info-right .gir-saleHot p{
	padding-left: 20px;
	height: 30px;
	line-height: 30px;
}
.goods-info-right .gir-saleHot .gi-saleBox{
	padding-left: 20px;
	padding-bottom: 20px;
}

.goods-info-right .gir-saleHot .gi-saleBox .saleHot-list{
	position: relative;
	float: left;
	width: 780px;
	height: 180px;
	overflow: hidden;
}
.goods-info-right .gir-saleHot .gi-saleBox .saleHot-list .saleHot-wrapper{
	position: absolute;
	left: 0;
	top: 0;
	width: 1280px;
}
.goods-info-right .gir-saleHot .gi-saleBox .saleHot-list .arrow{
	position: absolute;
	top: 50%;
	width: 30px;
	height: 60px;
	margin-top: -30px;
	text-align: center;
	line-height: 60px;
	background: #666;
	opacity: 0.8;
	filter: alpha(opacity=80);
	color: white;
	font-size: 18px;
	font-family: "微软雅黑";
	font-weight: bold;
	cursor: pointer;
}
.goods-info-right .gir-saleHot .gi-saleBox .saleHot-list .arrow-left{
	left: 10px;
}
.goods-info-right .gir-saleHot .gi-saleBox .saleHot-list .arrow-right{
	right: 10px;
}
.goods-info-right .gir-saleHot .gi-saleBox .saleHot-list .saleHot-wrapper dl{
	width: 140px;
	height: 180px;
	margin-right: 20px;
	float: left;
}
.goods-info-right .gir-saleHot .gi-saleBox .saleHot-list .saleHot-wrapper dl dt{
	width: 140px;
	height: 140px;
}
.goods-info-right .gir-saleHot .gi-saleBox .saleHot-list .saleHot-wrapper dl dt img{
	width: 100%;
	height: 100%;
}
.goods-info-right .gir-saleHot .gi-saleBox .saleHot-list .saleHot-wrapper dl dd{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.goods-info-right .gir-saleHot .gi-saleBox .saleHot-txt{
	float: left;
	width: 160px;
	line-height: 180px;
	text-align: center;
}
.goods-info-right .gir-saleHot .gi-saleBox .saleHot-txt a{
	color: #fff;
	background: #C81623;
	font-weight: bold;
	font-family: "微软雅黑";
	padding: 5px 10px;
}
/*商品详情服务承诺*/
.goods-info-right .gir-details{
	height: auto;
}
.gir-details .g-details-list{
	height: 50px;
}
.gir-details .g-details-list .gd-title{
	height: 50px;
	line-height: 50px;
	border: 1px solid #E5E5E5;
}
.gir-details .g-details-list .gd-title li.item{
	position: relative;
	float: left;
	border-right:1px solid #E5E5E5;
}
.gir-details .g-details-list .gd-title li.item a{
	display: block;
	height: 50px;
	line-height: 50px;
	padding: 0 40px;
	font-size: 16px;
	color: #484848;
	font-weight: bold;
	background-color: #f8f8f8;
}
.gir-details .g-details-list .gd-title li.item a.active{
	color: #AA1800;
	background: #fff;
}
.gir-details .g-details-list .gd-title li.item b{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 5px;
	border-top: 3px solid #AA1800;
}
.gir-details .g-details-list .gd-title li.item b.item1{
	display: none;
}
.gir-details .g-details-list .gd-title li.item b i{
	position: absolute;
	left: 50%;
	top: 0px;
	display: block;
	margin-left: -4px;
	height: 0;
	width: 0;
	border-color: #AA1800 transparent transparent transparent;
	border-style: solid;
	border-width: 6px;
}
.gir-details .g-details-list .gd-title li.item a.last{
	background: url(../img/xiangqing/proicosea.png) no-repeat 125px 5px;
	background-color: #f8f8f8;
}
.gir-details .g-details-list .g-details-a{
	
}
.gir-details .g-details-list .g-details-a .gd-a-attr{
	height: auto;
	padding: 15px 0 15px 15px;
	border: 1px solid #E5E5E5;
	border-top: 0;
	display: none;
}
.gir-details .g-details-list .g-details-a .gd-a-img{
	display: none;
}
/*商品详情显示*/
.gir-details .g-details-list .g-details-a .gd-a-attr.active,
.gir-details .g-details-list .g-details-a .gd-a-img.active{
	display: block;
}
.gir-details .g-details-list .g-details-a .gd-a-attr ul li{
	float: left;
	width: 240px;
	height: 28px;
	line-height: 28px;
	text-align: left;
	color: #484848;
}
/*服务与保障*/
.gir-details .g-details-list .g-details-a .gd-a-service{
	width: 750px;
	height: auto;
}
.gir-details .g-details-list .g-details-a .gd-a-service .title{
	height: 30px;
	line-height: 30px;
	background: #AA1800;
	color: #fff;
	padding-left: 30px;
}
.gir-details .g-details-list .g-details-a .gd-a-service p,
.gir-details .g-details-list .g-details-a .gd-a-service .item{
	padding-left: 30px;
	height: 40px;
	line-height: 40px;
}
.gir-details .g-details-list .g-details-a .gd-a-service img{
	padding-left: 30px;
}
.gir-details .g-details-list .g-details-a .gd-a-service h4{
	background: url(../img/xiangqing/fwbzbg.jpg) no-repeat right center;
}
.gir-details .g-details-list .g-details-a .brand-ul{
	height: 40px;
	margin: 40px 0px;
}
.gir-details .g-details-list .g-details-a .brand-ul dl{
	height: 40px;
	line-height: 40px;
	border: 1px solid #E5E5E5;
}
.gir-details .g-details-list .g-details-a .brand-ul dl dt{
	float: left;
	padding: 0 20px;
	height: 40px;
	line-height: 40px;
	background: #f8f8f8;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}
.gir-details .g-details-list .g-details-a .brand-ul dl dd{
	float: left;
	margin: 0 5px;
}
/*上架到购物车*/
.toCart{
	position: fixed;
	right: 0px;
	bottom: 80px;
	width: 60px;
	height: 69px;
	background: #f8f8f8;
	background: url(../img/xiangqing/edo_ico_43.jpg) no-repeat center top;
}
.toCart a{
	display: block;
	text-align: center;
	padding-top: 40px;
}
.toCart a b{
	position: absolute;
	right: 10px;
	top: 10px;
	width: 15px;
	height: 15px;
	line-height: 15px;
	text-align: center;
	border-radius: 50%;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	background-color: #C81623;
}


